/* --- colors settings --- */

:root {
  // Neutral colors
  --color-black: #000000;
  --color-gray--dark: #bababa;
  --color-gray--light: #ebebeb;
  --color-white: #ffffff;

  // Primary colors
  --color-nets-lightblue: #c9e9fb;
  --color-nets-darkblue: #005776;
  --color-nets-orange: #ed8b00;
  --color-nets-brightblue: #00bef0;
  --color-nets-bluegrey: #6e9fbc;
  --color-nets-middleblue: #82d0f5;

  // Secondary colors
  --color-nets-lightblue-50: #e7f3fb;
  --color-nets-lightblue-25: #daedfa;
  --color-nets-lightblue-10: #d3e9f9;
  --color-nets-lightblue-10-black: #b9d0df;

  --color-nets-darkblue-50: #80abba;
  --color-nets-darkblue-25: #408198;
  --color-nets-darkblue-10: #1a6884;
  --color-nets-darkblue-10-black: #004e6a;

  --color-nets-orange-50: #f6c580;
  --color-nets-orange-25: #f1a840;
  --color-nets-orange-10: #ef971a;
  --color-nets-orange-10-black: #d57d00;

  --color-nets-brightblue-50: #80dff7;
  --color-nets-brightblue-25: #40cef4;
  --color-nets-brightblue-10: #1ac4f1;
  --color-nets-brightblue-10-black: #00abd8;

  --color-nets-bluegrey-50: #b6cfdd;
  --color-nets-bluegrey-25: #92b7cd;
  --color-nets-bluegrey-10: #7da9c3;
  --color-nets-bluegrey-10-black: #638fa9;

  --color-nets-middleblue-50: #c1e7fa;
  --color-nets-middleblue-25: #a1dcf7;
  --color-nets-middleblue-10: #8ed5f6;
  --color-nets-middleblue-10-black: #75bbdc;

  // Text colors
  --color-text: var(--color-black);

  // Utilities colors
  --color-error: #c80000;
  --color-dark: #595959;
  --color-light: #f2f2f2;

  // Shadows
  --shadow-color--milder: rgba(17, 17, 17, 0.1);
  --shadow-color--mild: rgba(17, 17, 17, 0.2);
  --shadow-color--basemild: rgba(17, 17, 17, 0.2);
  --shadow-color--base: rgba(17, 17, 17, 0.5);
}
