main {
  display: grid;
  grid-template-columns: 1fr minmax(0, 1200px) 1fr;
  margin: 20px;

  > header {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    text-align: center;
  }
}

main > section {
  grid-column: 2/3;
}

@media only screen and (min-width: 700px) {
  main {
    justify-items: center;
    padding: 5rem 0;
  }

  section {
    margin-block-end: 5rem;
  }
}
