main {
  padding: 1.7rem;
}

section.account {
  max-width: 420px;
  padding: 0.7rem;
  display: flex;
  flex-direction: column;
  //   align-items: center;
  gap: 1rem;
  margin-inline: auto;
  border: 1px solid var(--color-nets-darkblue);
  border-radius: var(--border--lg);
}

section.account form {
  padding: 0;
  border: none;
  border-radius: none;
}

.nets_products {
  display: flex;
  flex-direction: column;
  align-items: center;

  &_overview {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2rem 0;

    & > h2 {
      font-size: var(--font-size--m);
    }

    &_grid {
      display: flex;
      flex-direction: column;
    }
  }
}

.frontpage {
  &_hero {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    padding-bottom: 2rem;

    &_text {
      margin-top: 2rem;
      & > h2 {
        font-size: var(--font-size--md);
      }

      & > button {
        margin-top: 2rem;
      }
    }

    &_img {
      width: 60%;
    }
  }
  &_headers {
    display: grid;
    gap: 3rem;
    padding-bottom: 2rem;

    & > h4 {
      font-size: var(--font-size--sm);
    }
  }

  &_how_to {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3rem;

    & > h3 {
      font-size: var(--font-size--2xs);
      text-transform: uppercase;
      letter-spacing: 0.1rem;
    }
    &_grid {
      margin-top: 3rem;

      article {
        margin-bottom: 1.2rem;
      }

      h4 {
        font-size: var(--font-size--4xs);
        letter-spacing: 0.1rem;
        margin-bottom: 0.3rem;
      }
      p {
        line-height: 1.4rem;
        font-size: 0.8rem;
      }
    }
  }

  &_green_id {
    display: flex;
    flex-direction: column;
    margin-top: 3rem;

    h3 {
      margin-bottom: 3rem;
    }

    &_grid {
      display: flex;
      flex-direction: column;
      gap: 3rem;
      align-items: center;

      ul {
        margin-top: 1rem;
        font-size: 0.8rem;
        letter-spacing: 0.08rem;
        line-height: 1.6rem;

        li:last-child {
          font-weight: bold;
        }
      }

      img {
        width: 50%;
      }
      button {
        margin-top: 1rem;
      }
    }
  }
}

@media only screen and (min-width: 700px) {
  main {
    padding-top: 5rem;
    max-width: 1200px;
    margin: 0 auto;
  }

  .nets_products {
    &_overview {
      flex-direction: column;

      & > h2 {
        font-size: var(--font-size--4xl);
      }

      &_grid {
        display: flex;
        flex-direction: row;
      }
    }
  }

  .frontpage {
    &_hero {
      display: grid;
      grid-template-columns: 50% auto;
      min-height: 80vh;
      align-items: center;
      justify-content: space-around;

      &_img {
        width: 40%;
      }
    }
    &_headers {
      display: flex;
      gap: 2rem;
      justify-content: center;
    }

    &_how_to {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-top: 3rem;

      &_ {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
        gap: 2rem;
      }
    }

    &_green_id {
      margin-top: 3rem;
      min-height: 50vh;
      padding: 0px 15rem;

      h3 {
        text-align: center;
        margin-bottom: 3rem;
      }

      &_ {
        display: flex;
        gap: 5rem;
        align-items: center;

        img {
          width: 15%;
        }
      }
    }
  }
}
