* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

:root {
  scroll-behavior: smooth;
  scroll-padding-top: 5rem;
  margin: 0rem;
}

body {
  overflow-wrap: break-word;
  hyphens: auto;
  line-height: 1.5;
  font-size: 16px;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

// typography
h1 {
  font-family: var(--font-primary);
  font-size: var(--font-size--3xl);
  font-weight: var(--font-weight--bold);
  color: var(--color-nets-darkblue);
  text-align: center;
}
h2 {
  font-family: var(--font-primary);
  font-size: var(--font-size--xl);
  font-weight: var(--font-weight--semibold);
  color: var(--color-nets-darkblue);
}
h3 {
  font-family: var(--font-primary);
  font-size: var(--font-size--md);
  font-weight: var(--font-weight--semibold);
}
h4 {
  font-family: var(--font-primary);
  font-size: var(--font-size--sm);
  font-weight: var(--font-weight--semibold);
}
h5 {
  font-family: var(--font-primary);
  font-size: var(--font-size--xs);
  font-weight: var(--font-weight--semibold);
}
h6 {
  font-family: var(--font-primary);
  font-size: var(--font-size--2xs);
  font-weight: var(--font-weight--semibold);
}
p {
  font-family: var(--font-primary);
  font-size: var(--font-size--body);
  font-weight: var(--font-weight--normal);
}

// Anker tag
a {
  font-family: var(--font-primary);
  font-size: var(--font-size--xs);
  color: var(--color-nets-darkblue);
  // transition: 100ms all;
}
a:hover {
  opacity: 80%;
  text-decoration: underline;
}

// Button
.secondary_btn {
  cursor: pointer;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0.8rem 1.2rem;
  isolation: isolate;
  outline: 0 solid var(--color-nets-lightblue);
  border-radius: 0.4rem;
  overflow: hidden;
  font-size: var(--font-size--2xs);
  color: var(--color-nets-darkblue);
  border: 1px solid var(--color-nets-darkblue);
  background-color: var(--color-white);

  &:hover {
    font-size: var(--font-size--2xs);
    color: var(--color-white);
    border: 1px solid var(--color-nets-darkblue);
    background-color: var(--color-nets-darkblue);
    opacity: 100%;
    text-decoration: none;
  }
}

.primary_btn {
  font-size: var(--font-size--2xs);
  color: var(--color-white);
  border-radius: var(--border--lg);
  border: 1px solid var(--color-nets-darkblue);
  background-color: var(--color-nets-darkblue);

  cursor: pointer;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0.8rem 1.2rem;
  isolation: isolate;
  outline: 0 solid var(--color-nets-lightblue);
  border-radius: 0.4rem;
  overflow: hidden;

  &:hover {
    color: var(--color-nets-darkblue);
    border: 1px solid var(--color-nets-darkblue);
    background-color: var(--color-white);
    opacity: 100%;
    text-decoration: none;
  }
}

button.primary_btn {
  font-size: var(--font-size--2xs);
  color: var(--color-white);
  border-radius: var(--border--lg);
  border: 1px solid var(--color-nets-darkblue);
  background-color: var(--color-nets-darkblue);

  &:hover {
    color: var(--color-nets-darkblue);
    border: 1px solid var(--color-nets-darkblue);
    background-color: var(--color-white);
  }
}

button.link_btn {
  font-family: var(--font-primary);
  font-size: var(--font-size--xs);
  color: var(--color-nets-darkblue);
  cursor: pointer;
  display: block;
  padding: 0;
  border: 0;
  outline: transparent;
  border: transparent;
  background-color: transparent;

  &:hover {
    color: var(--color-nets-darkblue);
    border: transparent;
    background-color: transparent;
    opacity: 80%;
    text-decoration: underline;
  }
}
