* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  overflow-wrap: break-word;
  hyphens: auto;
  line-height: 1.5;
  font-size: 16px;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

// typography
h1 {
  font-family: var(--font-primary);
  font-size: var(--font-size--6xl);
  font-weight: var(--font-weight--bold);
}
h2 {
  font-family: var(--font-primary);
  font-size: var(--font-size--5xl);
  font-weight: var(--font-weight--semibold);
}
h3 {
  font-family: var(--font-primary);
  font-size: var(--font-size--3xl);
  font-weight: var(--font-weight--semibold);
}
h4 {
  font-family: var(--font-primary);
  font-size: var(--font-size--xl);
  font-weight: var(--font-weight--semibold);
}
h5 {
  font-family: var(--font-primary);
  font-size: var(--font-size--xl);
  font-weight: var(--font-weight--semibold);
}
h6 {
  font-family: var(--font-primary);
  font-size: var(--font-size--lg);
  font-weight: var(--font-weight--semibold);
}
p {
  font-family: var(--font-primary);
  font-size: var(--font-size--body);
  font-weight: var(--font-weight--normal);
}

// Anker tag
a {
  font-family: var(--font-primary);
  font-size: var(--font-size--xs);
  color: var(--color-nets-darkblue);
  // transition: 100ms all;
}
a:hover {
  opacity: 80%;
  text-decoration: underline;
}

// Button
button,
.secondary_btn {
  font-size: var(--font-size--2xs);
  color: var(--color-nets-darkblue);
  border: 1px solid var(--color-nets-darkblue);
  background-color: var(--color-white);
  cursor: pointer;
}
button:hover,
.secondary_btn:hover {
  font-size: var(--font-size--2xs);
  color: var(--color-white);

  border: 1px solid var(--color-nets-darkblue);
  background-color: var(--color-nets-darkblue);
}

.primary_btn {
  font-size: var(--font-size--2xs);
  color: var(--color-white);
  border-radius: var(--border--lg);
  border: 1px solid var(--color-nets-darkblue);
  background-color: var(--color-nets-darkblue);
}

.primary_btn:hover {
  font-size: var(--font-size--2xs);
  color: var(--color-nets-darkblue);
  border: 1px solid var(--color-nets-darkblue);
  background-color: var(--color-white);
}
