/* --- typography settings --- */

// Font - Jost: https://fonts.google.com/specimen/Jost?category=Sans+Serif,Display&vfonly=true&preview.text=Jost&preview.text_type=custom
// font-family: 'Jost', sans-serif;

:root {
  // Font family
  --font-primary: "Jost", sans-serif;
  // --font-secondary: 'Jost', sans-serif;

  // Font weights
  --font-weight--thin: 100;
  --font-weight--extralight: 200;
  --font-weight--light: 300;
  --font-weight--normal: 400;
  --font-weight--medium: 500;
  --font-weight--semibold: 600;
  --font-weight--bold: 700;
  --font-weight--extrabold: 800;
  --font-weight--black: 900;

  // Font sizes
  --font-size--body: 1rem;
  --font-size--2xs: 1.1rem;
  --font-size--xs: 1.2rem;
  --font-size--sm: 1.3rem;
  --font-size--md: 1.4rem;
  --font-size--lg: 1.6rem;
  --font-size--xl: 1.8rem;
  --font-size--2xl: 1.9rem;
  --font-size--3xl: 2rem;
  --font-size--4xl: 2.1rem;
  --font-size--5xl: 2.2rem;
  --font-size--6xl: 2.4rem;
  --font-size--7xl: 2.6rem;
  --font-size--8xl: 2.8rem;
  --font-size--9xl: 3rem;
  --font-size--10xl: 3.2rem;
  --font-size--11xl: 3.6rem;

  // Line heights
  --line-height--3xs: 1.3rem;
  --line-height--2xs: 1.8rem;
  --line-height--2xs: 2rem;
  --line-height--xs: 2.2rem;
  --line-height--sm: 2.4rem;
  --line-height--md: 2.6rem;
  --line-height--lg: 2.8rem;
  --line-height--xl: 3rem;
  --line-height--2xl: 3.4rem;
  --line-height--3xl: 4rem;
  --line-height--4xl: 4.6rem;
  --line-height--5xl: 5.6rem;
  --line-height--6xl: 5.8rem;
  --line-height--7xl: 8.2rem;
  --line-height--8xl: 10.2rem;
}
