.CheckoutInformation_container {
  max-width: 420px;
  width: 420px;

  @media only screen and (max-width: 1012px) {
    width: auto;
  }
}

.CheckoutInformation_buttons {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 1rem;
}
