.sts_cart_item {
  display: grid;
  grid-template-columns: 60% 1fr;
  gap: 1rem;
  padding: 1rem;

  &_desc {
    grid-column: 1 / 2;
    display: flex;
    gap: 1rem;

    img {
      width: 20%;
      height: fit-content;
    }

    a:last-child {
      font-size: 0.7rem;
    }
    p {
      font-size: 0.7rem;
    }
  }
  &_price {
    p {
      font-size: 0.8rem;
    }
    .item_amount {
      display: flex;
      align-items: self-end;
      justify-content: flex-start;
      gap: 1rem;
      margin-top: 1rem;

      span {
        border: solid var(--color-sts-darkblue);
        padding: 0.3rem;
      }

      button {
        padding: 0.2rem;
        border: none;
        margin-top: 0;
      }
    }
  }
  .table_body_total {
    display: none;
  }
}

@media only screen and (min-width: 700px) {
  .sts_cart_item {
    grid-template-columns: 50% 1fr 1fr;

    &_desc {
      img {
        width: 10%;
      }
    }
    .table_body_total {
      display: block;
      justify-self: right;
      font-weight: bold;
      align-self: flex-end;
    }
  }
}
