.CheckoutTotal_product_info {
  display: flex;
  justify-content: space-between;
  align-items: center;

  img {
    width: 7%;
  }
}

.CheckoutTotal_price_layout {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.CheckoutTotal_container {
  max-width: 420px;
  width: 420px;
}

.CheckoutTotal_item_name {
  font-weight: var(--font-weight--bold);
}

.CheckoutTotal_price_text {
  font-weight: var(--font-weight--bold);
}
