.nets_navbar {
  background-color: var(--color-gray--light);
  display: flex;
  align-items: center;
  top: 0;
  z-index: 20;
  padding: 1rem;
  width: 100%;
  justify-content: space-between;

  &_links {
    font-size: var(--font-size--body);
  }
  &_logo {
    padding-left: 2rem;
  }
  &_menu {
    display: flex;
    list-style: none;
    background: var(--color-gray--light);
    position: relative;
    opacity: 1;
    padding-left: 1rem;
    gap: 3rem;
  }
  .login_mobile {
    display: none;
  }

  .shopping_cart {
    position: relative;
    padding-top: 0.5rem;
    .header_cart_quantity {
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      top: 0;
      right: 0;
      width: 1.2rem;
      height: 1.2rem;
      transform: translate(30%, 90%);
      background-color: var(--color-nets-middleblue);
      border-radius: 1rem;

      p {
        font-size: 0.8rem;
      }
    }
  }
  &_burger {
    display: flex;
    align-items: center;
    gap: 1.7rem;

    .login_desctop {
      display: flex;
      font-size: var(--font-size--body);
    }
  }
}

@media screen and (max-width: 600px) {
  .nets_navbar {
    &_logo {
      padding-left: 0;
    }
    &_menu {
      display: none;
      transform: translateY(-100%);
      transition: all 0.45s cubic-bezier(0.29, 0.63, 0.44, 1);

      &.active {
        display: block;
        background-color: var(--color-nets-lightblue);
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
        transform: translateY(70px);
        width: 100%;
        overflow: hidden;

        line-height: 4rem;
        &_links {
          text-decoration: none;
          padding: 0.5rem 1rem;
          height: 100%;
          border-bottom: 3px solid transparent;
        }
      }
    }
    .login_desctop {
      display: none;
    }
    .login_mobile {
      display: block;
    }
  }
}

#menu__toggle {
  opacity: 0;
  width: 26px;
  height: 26px;
}
#menu__toggle:checked + .burger_menu_btn > span {
  transform: rotate(45deg);
}
#menu__toggle:checked + .burger_menu_btn > span::before {
  top: 0;
  transform: rotate(0deg);
}
#menu__toggle:checked + .burger_menu_btn > span::after {
  top: 0;
  transform: rotate(90deg);
}
#menu__toggle:checked ~ .menu__box {
  left: 0 !important;
}
.burger_menu_btn {
  position: fixed;
  // top: 30px;
  right: 20px;
  width: 26px;
  // height: 26px;
  cursor: pointer;
  z-index: 1;
}
.burger_menu_btn > span,
.burger_menu_btn > span::before,
.burger_menu_btn > span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 3px;
  background-color: var(--color-nets-darkblue);
  transition-duration: 0.25s;
}
.burger_menu_btn > span::before {
  content: "";
  top: -8px;
}
.burger_menu_btn > span::after {
  content: "";
  top: 8px;
}

@media screen and (min-width: 575px) {
  .burger_menu_btn {
    position: fixed;
    top: 35px;
    right: 25px;
    cursor: pointer;
    z-index: 1;
    display: none;
  }

  #menu__toggle:checked ~ .menu__box {
    left: 76px !important;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
