.nets_navbar {
  background-color: var(--color-gray--light);
  display: flex;
  align-items: center;
  top: 0;
  z-index: 20;
  padding: 1rem;
  width: 100%;
  justify-content: space-between;

  &_menu {
    display: none;
    list-style: none;
    background: lightblue;
    position: absolute;
    opacity: 1;
    line-height: 4rem;
    transform: translateY(-100%);
    transition: all 0.45s cubic-bezier(0.29, 0.63, 0.44, 1);
    overflow: hidden;

    &.active {
      display: block;
      top: 0;
      left: 0;
      z-index: 1;
      transform: translateY(70px);
      width: 100%;
      padding-left: 1rem;

      &_links {
        text-decoration: none;
        padding: 0.5rem 1rem;
        height: 100%;
        border-bottom: 3px solid transparent;
      }
    }
  }
  .login {
    display: none;
  }
  &_burger {
    display: flex;
    align-items: center;
    gap: 1.7rem;

    .shopping_cart {
      padding-top: 0.5rem;
    }
  }

  .shopping_cart {
    position: relative;
    .header_cart_quantity {
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      top: 0;
      right: 0;
      width: 1.2rem;
      height: 1.2rem;
      transform: translate(30%, 90%);
      background-color: var(--color-nets-middleblue);
      border-radius: 1rem;

      p {
        font-size: 0.8rem;
      }
    }
  }
}
@media screen and (min-width: 700px) {
  .nets_navbar {
    &_logo {
      padding-left: 2rem;
    }
    &_menu {
      display: flex;
      background-color: var(--color-gray--light);
      transform: translate(0);
      gap: 1.5rem;
      position: relative;
    }
    .login {
      display: block;
    }
  }
}

#menu__toggle {
  opacity: 0;
  width: 26px;
  height: 26px;
}
#menu__toggle:checked + .burger_menu_btn > span {
  transform: rotate(45deg);
}
#menu__toggle:checked + .burger_menu_btn > span::before {
  top: 0;
  transform: rotate(0deg);
}
#menu__toggle:checked + .burger_menu_btn > span::after {
  top: 0;
  transform: rotate(90deg);
}
#menu__toggle:checked ~ .menu__box {
  left: 0 !important;
}
.burger_menu_btn {
  position: fixed;
  // top: 30px;
  right: 20px;
  width: 26px;
  // height: 26px;
  cursor: pointer;
  z-index: 1;
}
.burger_menu_btn > span,
.burger_menu_btn > span::before,
.burger_menu_btn > span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 3px;
  background-color: var(--color-nets-darkblue);
  transition-duration: 0.25s;
}
.burger_menu_btn > span::before {
  content: "";
  top: -8px;
}
.burger_menu_btn > span::after {
  content: "";
  top: 8px;
}

@media screen and (min-width: 700px) {
  .burger_menu_btn {
    position: fixed;
    top: 35px;
    right: 25px;
    cursor: pointer;
    z-index: 1;
    display: none;
  }

  #menu__toggle:checked ~ .menu__box {
    left: 76px !important;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
