.nets_navbar {
  background-color: var(--color-gray--light);
  display: flex;
  align-items: center;
  top: 0;
  z-index: 20;
  padding: 1rem;
  width: 100%;
  justify-content: space-between;

  &_icons {
  }

  &_menu {
    display: none;
    list-style: none;
    background: lightblue;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 1;
    line-height: 3rem;
    transform: translateY(-100%);
    transition: all 0.45s cubic-bezier(0.29, 0.63, 0.44, 1);
    overflow: hidden;

    &.active {
      display: block;
      z-index: 1;
      transform: translateY(60px);
      width: 100%;
      &.active + main {
        transform: translate3d(0px, 164px, 0px);
      }

      &_item .active {
        color: blue;
        border: none;
      }

      &_item:after {
        content: "";
        display: block;
        height: 3px;
        width: 0;
        background: transparent;
        transition: width 0.7s ease, background-color 0.5s ease;
      }

      &_item:hover:after {
        width: 100%;
        background: white;
      }
      &_links {
        text-decoration: none;
        padding: 0.5rem 1rem;
        height: 100%;
        border-bottom: 3px solid transparent;
      }
    }
  }

  @media screen and (min-width: 700px) {
    .nets_navbar {
      &_menu {
        display: flex;
        background-color: var(--color-gray--light);
      }
      &_links {
        padding: 1.5rem;
        width: 100%;
        display: table;
      }
    }
  }
}

#menu__toggle {
  opacity: 0;
  width: 26px;
  height: 26px;
}
#menu__toggle:checked + .menu__btn > span {
  transform: rotate(45deg);
}
#menu__toggle:checked + .menu__btn > span::before {
  top: 0;
  transform: rotate(0deg);
}
#menu__toggle:checked + .menu__btn > span::after {
  top: 0;
  transform: rotate(90deg);
}
#menu__toggle:checked ~ .menu__box {
  left: 0 !important;
}
.menu__btn {
  position: fixed;
  // top: 30px;
  right: 20px;
  width: 26px;
  // height: 26px;
  cursor: pointer;
  z-index: 1;
}
.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 3px;
  background-color: blue;
  transition-duration: 0.25s;
  top: 4px;
}
.menu__btn > span::before {
  content: "";
  top: -8px;
}
.menu__btn > span::after {
  content: "";
  top: 8px;
}

@media screen and (min-width: 575px) {
  .menu__btn {
    position: fixed;
    top: 35px;
    right: 25px;
    cursor: pointer;
    z-index: 1;
    display: none;
  }

  #menu__toggle:checked ~ .menu__box {
    left: 76px !important;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
