.ProgressBar_container {
  display: flex;
  align-items: center;
  margin-block: 3rem;

  @media only screen and (max-width: 1012px) {
    justify-content: center;
    display: none;
  }
}
.ProgressBar_steps_container {
  display: flex;
  align-items: center;
  gap: 1rem;
  list-style-type: none;

  @media only screen and (max-width: 1012px) {
    flex-direction: column;

    li:nth-child(2n) {
      rotate: 90deg;
    }
  }
}

.ProgressBar_step_item {
  cursor: pointer;
}

.ProgressBar_progress_count {
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 45%;
}

.ProgressBar_current_item {
  opacity: 100%;
}

.ProgressBar_to_cart {
  font-size: var(--font-size--body);
  text-decoration: none;
}
