.Model_centered {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.Model_modal {
  width: 100vw;
  height: 100vh;
  background: var(--color-white);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.Model_heading {
  //   font-size: var(--font-size--xl);
  font-size: var(--font-size--body);
}

.Model_description {
  font-weight: var(--font-weight--noraml);
}

.Model_close_btn {
  position: absolute;
  right: 5%;
  top: 5%;
}

.Model_actions_container {
  display: flex;
  flex-direction: column;
  margin-block-end: var(--spacing--xl);
}

.Model_action_btns_container {
  display: flex;
  justify-content: center;
  gap: 1rem;
}
