.UpdateAccountFullPhoneNum {
  grid-template-columns: 1fr 3fr;
}

.UpdateAccount_file {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.UpdateAccount_main_content {
  display: contents;
}
