.AccordionItem {
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 1;
}

.AccordionTitle {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.AccordionContent {
  margin-block-end: var(--spacing--lg);
  margin-inline: var(--spacing--md);
}

.AccordionIcon {
  height: 2rem;
  width: 2rem;
}

.AccordionItem_open svg {
  transform: rotate(-90deg);
  transition: 300ms all;
}

.AccordionItem_close svg {
  transform: rotate(0deg);
  transition: 300ms all;
}
